*html{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h2{
   color: #E9967A;
}
footer {
   padding: 8px;
   color: white;
   background-color: #E9967A;
   text-align: right;
   font-weight: bold;
}
nav {
   background-color: #ffffff;
   padding: 5px;
   text-align:right;
   position: sticky;
   top: 0;
   overflow: auto;
}
nav li {

   display: inline;
   list-style-type: none;
   margin-right: 20px;
   width: 10px;
}
nav a {
    font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: rgb(44, 7, 252);
   margin-top: 30px;
}
nav img{
    padding-left: 10px;
	float: left;
	height: 40px;}
    .mainmenubtn {
        font-size: 18px;
        color: blue;
        list-style: none;
        border-style: none;
        background-color: rgba(255, 255, 255, 0);
    }
    .mainmenubtn:hover {
        background-color:rgba(238, 232, 170, 0);
        }
    .dropdown {
        padding:0px;
        margin: 0px;
        text-align: left;
        display: inline-block;
        background-color:none;
    }
    .dropdown-child {
        display:none;
        background-color:none;
        position:relative;
    }
    .dropdown-child a {
        background-color:none;
        text-decoration: none;
        display: block;
        position: relative;
    }
    .dropdown:hover .dropdown-child {
        background-color:none;
        display: block;
        position: relative;
    }    
  


.container{
    position:relative;
}
.container h1{
    padding-left: 20px;
    text-align: left;
    color: #000000;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}

.container form button{
    width: 90px;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}
.container form{
    padding-left: 20px;
}
.container p{
    padding-left: 20px;
}
.footer1{
    position:static;
    background-color: rgba(134, 196, 255, 0.87);
    
}
.footer1 tr{
    display:inline-flex;
    padding-left: 50px;
   padding-right:100px;
}
.footer1 td{
    padding-top: 30px;
    padding-left: 50px;
   padding-right: 100px;
   padding-bottom: 20px;
}
.footer1 li{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.li1{
    font-family: Arial, Helvetica, sans-serif;
    background: #22a4cf;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 10px;
}