html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    font-family:'Segoe UI';
    background-color: #FEFEFE;
  }
  
  /* burger icon */
  
  .burger {
    display: inline-block;
    cursor: pointer;
    z-index: 2;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:#00d9ff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
  }
  
  .change .bar2 {opacity: 0;   background-color: white;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
      background-color: white;
  }
  
  /* wraper */
  
  .wrapper{
    padding: auto;
  }
  
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    height: auto;
    padding: 10px 20px;
    box-shadow: 1px 2px 10px 2px rgba(0,0,0,.1);
    background-color: white;
  }
  
  nav .brand a img {
    height: 50px;
  }
  
  .bg-sidebar {
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,.1);
    transition: .3s;
    visibility: hidden;
  }
  
  .sidebar li a{
    display: flex;
  }

  .bg-sidebar.change {
    right: 0;
    visibility: visible;
    display: block;
  }
  
  nav ul {
      display: flex;
      position: fixed;    
      background-color:#00d9ff;
      top: 0;
      bottom: 0;
      right: -400px;
      width: 300px;
      transition: .5s;
      align-items: flex-start;
      flex-direction: column;
  }
  
  nav ul.change {
      right: 0;
      transition: .5s;
  }
  
  nav ul li {
    list-style: none;
    padding: 20px 15px;
  }
  
  nav ul li a {
    color: white;
    font-size: 1.2rem;
      text-decoration: none;
  }
  

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: #fff !important;
    border-radius: 5px 5px 5px 5px;
}

.isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
    background-color: #f9f9f9;
    border-radius: 5px 5px 5px 5px;
}

.isi-dropdown a {
    color: #3c3c3c !important;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}


.content1{
    padding: 20px;
    color: rgb(0, 0, 0);
    background-image: url("https://i.postimg.cc/jj4S4c5W/biaya-cuci-mobil-picsay.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fit-content;
    height: auto;
}
.content2{
    position:static;
    background-color: #ffffff;
    height:fit-content;
    width:auto;
    text-emphasis: center;
    text-align: center;
}
.teks2{
    text-decoration-color:rgba(0, 0, 0, 0.452);
}
.tabel1{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right: 10px;
}
.tabel1 li{
  padding: 10px;
  text-align: left;
  border:solid 0px;
  list-style-type: none;
}
.gambar{
    height: 50px;
}

.li1{
    background: #00d9ff;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 10px;;
    display:block;
    border-radius: 10px 10px 10px 10px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover{
    opacity:0.9;
}
.li2{
    
    display:inline-block;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 251, 251, 0);
    background-color: rgb(255, 145, 0);
    padding: 10px;
    margin: 2px;
    color: white;
    height: fit-content;
    width: fit-content;
    border-radius: 10px 10px 10px 10px;

}
.li2 a {
    font-size: 18px;
    font-weight: 450;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-weight:200;
}
.li2 a:hover{
    color: #ffffff91;
    height: max-content;
}

.footer1{
  background-color: rgba(134, 196, 255, 0.87);
  display: flex;
  padding: 20px;
  align-content:space-around;
}

.footer1 li{
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 100px;
  list-style: none;
}

.footer1 ul li a:hover{
  color: #ff00d460;
}

.fixed-whatsapp{
    position:fixed;
    bottom:20px;right:20px;
    width:50px;
    height:50px;
    z-index:9999
}
.fixed-whatsapp:before{
    content:"";
    background-repeat:no-repeat;
    background-size:34px 34px;
    background-position:center center;
    width:50px;height:50px;
    background-image:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 24 24' width='32' height='32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:%23ffffff' d='M16.75,13.96C17,14.09 17.16,14.16 17.21,14.26C17.27,14.37 17.25,14.87 17,15.44C16.8,16 15.76,16.54 15.3,16.56C14.84,16.58 14.83,16.92 12.34,15.83C9.85,14.74 8.35,12.08 8.23,11.91C8.11,11.74 7.27,10.53 7.31,9.3C7.36,8.08 8,7.5 8.26,7.26C8.5,7 8.77,6.97 8.94,7H9.41C9.56,7 9.77,6.94 9.96,7.45L10.65,9.32C10.71,9.45 10.75,9.6 10.66,9.76L10.39,10.17L10,10.59C9.88,10.71 9.74,10.84 9.88,11.09C10,11.35 10.5,12.18 11.2,12.87C12.11,13.75 12.91,14.04 13.15,14.17C13.39,14.31 13.54,14.29 13.69,14.13L14.5,13.19C14.69,12.94 14.85,13 15.08,13.08L16.75,13.96M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C10.03,22 8.2,21.43 6.65,20.45L2,22L3.55,17.35C2.57,15.8 2,13.97 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.72 4.54,15.31 5.46,16.61L4.5,19.5L7.39,18.54C8.69,19.46 10.28,20 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
    background-color:#00C853;
    position:absolute;top:0;left:0;
    border-radius:100%;
    box-shadow:0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24)
}

@media screen and (min-width: 960px) {
  
    .bg-sidebar.change {
     right: 0;
     visibility: hidden;
     display: none;
    }
  
    .burger {
      display: none;
    }
  
    nav {
      position: relative;
    }
  
    nav ul {
      display: flex;
        position: relative;    
        background-color:unset;
        top: unset;
        bottom: unset;
        right: unset;
        width: unset;
        flex-direction: row;
    }
  
    nav ul li {
      padding: 10px 15px;
  
    }
  
    nav ul li:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      transition: .3s;
      background-color: black;
      transform: translateY(20px);
    }
  
  
    nav ul li a {
      color: black;
      font-size: 1.1rem;
    }
  
    nav ul li:last-child {
      font-weight: 550;
    }

    .footer1 li{
      padding: 10px 0px 0px 0px;
      list-style: none;
  }
  }
  
  @media screen and (min-width: 1200px) {
    .container-flex {
     width: 100%;
     max-width: 1024px;
     margin: auto;
     display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .footer1 li{
      padding-top: 10px;
      padding-left: 50px;
      padding-right: 100px;
      list-style: none;
  }
}